@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color:#00072b;
}

.background {
    width: 100%;
    position: absolute;
}

.concatImg {
    display: flex;
    width: 38%;
    margin-top: 50px;
    margin-left: 780px;
    position: absolute;
}

.title-concat {
    font-size: 70px;
    color:#f7f4f6;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0.2em 0.2em 0.2em black;
    padding-top: 50px;
    margin-left: 150px;
  }
  

.concat1-title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding-top: 90px;
    color: white;
    margin-left: 150px;
}

.concat2-title {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    padding-top: 20px;
    color: white;
    margin-left: 150px;
}

.icons {
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
}

.tag1{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 10%;
    flex-wrap: wrap;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #ff008e;
    border-bottom: 6px solid #ff008e;;
}

.tag1 {
    font-size: 2.9rem;
    color: var(--color-primary);
    transition: 0.4s all ease;
    text-shadow: 0px 0px 48px 0px;
}

.tag1:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.devIcon {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 65px;
    font-size: 35px;
}

.text-concat {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.2em black;
}
